<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.fetch("title", "Sitepress") %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <main>
      <%= yield %>
      <footer>
        <p>Need help? <a href="mailto:info@pendl.app">Contact Us</a></p>
      </footer>
    </main>
  </body>
</html>
